torch
torchvision
tqdm
scikit-learn
matplotlib
seaborn
onnx
onnxruntime
onnxruntime-tools
pillow
langchain
langchain-community
faiss-cpu
sentence-transformers
google-genai
google-generativeai
python-telegram-bot[job-queue]
python-dotenv
psycopg2-binary
streamlit
plotly
requests
xgboost
gTTS
edge-tts
groq
pytest
redis
